body {
  padding-top: 5rem;
  background: #03b936;
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}


.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.loading{
  display: none;
  margin-top: 100px;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 30%;
  left: 40%;
}

.delay-3s{
  animation-duration: 1s;
}

.delay-4s{
  animation-duration: 2s;
}

.delay-5s{
  animation-duration: 3s;
}

.images{
  width: 100%;
  max-height: 550px;
}

.data .label label{
  font-size: 28px;
  color:#ffffff;
  font-weight: bold;
}

.data .label span{
  float: right;
  font-size: 28px;
  color:#ffffff;
  font-weight: bold;
}

.data .text{
  font-size: 28px;
  color:#ffffff;
  font-weight: bold;
}

.button{
  position: absolute;
  bottom:10px;
  right: 50px;
  text-align: left;
}

.button a, button{
  margin: 0 10px 10px 0;
}
